nav{

}

.col-50-white{

}

.col-50{
  width: 40%;
  height: 90px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  margin-right: 122px;
  margin-top: 175px;
  background-color: grey;
  color: black;
}

footer{
    height: 150px;
    width: 100%;
    text-align: center;
    padding-top: 70px;
    padding-left: 50px;
    margin-top: 600px !important;
    color: black;
    background-color: orangered;
    text-align: left;
  }